// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.index-data {
  list-style:none;
  display: inline;
  padding:0;
  color:#9a9a9a;
  font-size:0.8rem;

  li {
    display:inline-block;
  }
}


footer {
  margin-bottom: 2rem;
  text-align: center;

  > ul {
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
    }
  }
}
